In [2]:
#Define the function 'say_hello' so it prints 'hello!' when called.
def say_hello():
    print('Hello!')

In [4]:
#Call the function.
say_hello()

Hello!

In [9]:
#Define the function 'say_something' so it prints whatever is passed as the variable when we call.
def say_something(something):
    print(something)
# call the function.    
say_something('Hi, Phoebe!')

Hi, Phoebe!

In [10]:
Jane_says="Hi, my name is Jane.I'm learning Pyhton!"
say_something(Jane_says)

Hi, my name is Jane.I'm learning Pyhton!

In [21]:
#Define a function that calculates the percentage of students that pass both
#math and reading and returns the passing percntage when the function is called.
#assign the passing_math_count and the toal student-count values
passing_math_count=29370
total_student_count=39170

def passing_math_percent(passing_math_count, total_student_count):
    return passing_math_count/float(total_student_count)*100

#call the funtion
passing_math_percent(passing_math_count,total_student_count)

74.9808526933878

In [22]:
#a ist of my grades.
my_grades=['B','C','B','D']

#Import pandas.
import pandas as pd
#convert my_grades to series.
my_grades=pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [23]:
#change the grades by one letter grade.
my_grades.map({'B':'A','C':'B','D':'C'})

0    A
1    B
2    A
3    C
dtype: object

In [25]:
#using the format()funtion.
my_grades=[92.34,84.56,86.78,98.32]

for grade in my_grades:
    print('{:.0f}'.format(grade))

92
85
87
98

In [27]:
#convert the numerical grades to a Series.
my_grades=pd.Series([92.34,84.56,86.78,78.32])


#format the grades to the nearest whole number percent.
my_grades.map('{:.0f}'.format)

0    92
1    85
2    87
3    78
dtype: object